---
import {Icon} from "astro-icon/components";
import type {GetImageResult, ImageMetadata} from "astro";
import {Image} from "astro:assets";

interface Props {
  title: string;
  subtitle?: String;
  background?: ImageMetadata;
}

const {title, subtitle, background} = Astro.props;
---
<div class="relative flex justify-center items-center w-full h-[100svh] select-none">
  <div class="absolute flex top-0 right-0 w-full h-full items-center justify-center z-10 bg-black bg-opacity-50">
    <div class="flex flex-col items-center gap-5">
      <span class="font-main-title">{title}</span>
      <span>{subtitle}</span>
    </div>
  </div>

  {background && (
    <Image
      src={background}
      alt=""
      class="absolute top-0 left-0 h-full object-center object-cover"
      loading="lazy"
      decoding="async"
      format="avif"
      quality="mid"
    />
  )}

  <div class="absolute flex flex-col items-center gap-2 bottom-20 md:bottom-5 z-10">
    <span>Scroll to continue</span>
    <Icon class="text-2xl animate-bounce" name="fluent:chevron-down-24-regular" />
  </div>
</div>