---
import {Icon} from "astro-icon/components";
import {socialsDataRecord} from "./social";
import {socials} from "@/types/social";

interface Props {
  side?: "top" | "bottom";
}

const {side = "bottom"} = Astro.props;
---

<div class="flex gap-2 sm:gap-5">
  {
    socials.map(social => socialsDataRecord[social]).map(({name, url, icon}) => (
      <a
        class={`flex items-center justify-center tooltip tooltip-${side} p-4 bg-base-100 rounded-full shadow`}
        data-tip={name}
        href={url}
        target="_blank"
      >
        <Icon class="md:w-8 md:h-8" name={icon} />
      </a>
    ))
  }
</div>
